<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <form action='/add-game' method="POST">
        <label for='game'>Game</label>
        <input type='text' name='title' id='title' />
        <button type="submit">Submit</button>
    </form>
</body>
</html>